html, body{
	height: 100%;
}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

nav{
	height: 0px !important;
}

fieldset{
	border: 2px solid black !important;
}

#divCharDetail{
	background: #EECDA3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#divBookDetail{
	background: #d9a7c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#divHouseDetail{
	background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#carousel-b p, #carousel-c p, #carousel-h p{
	font-size: 1.75vmax;
}

#carousel-b .more, #carousel-c .more, #carousel-h .more{
	font-size: 1vmax;
}

.more {
  display: block;
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 1.2vmax !important;
  color: white;
  text-decoration: none;
  transition: opacity 300ms ease;
}

.card-title{
	font-weight: bold !important;
	font-size: 1.6vmax !important;
}

.card-action > a{
	font-size: 1vmax;
}

.card-content{
	font-size: 1vmax;
}

#fsHouse{
	height: 85px;
	border: 2px solid white !important;
}

.btn-floating{
	width: 40px !important;
	height: 40px !important;
}

.front .btn-large{
	line-height: 45px;
}

.front .btn-floating.btn-large i {
    line-height: 0px;
}

#txtBookName, #txtCharName, #txtHouseName{
	height: 35px;
	border:1px solid black;
	border-radius: 5px;
}

#divBookDetail .title, #divCharDetail .title, #divHouseDetail .title{
	font-size: 5vmax;
}

#divBookDetail p, #divCharDetail p, #divHouseDetail p{
	font-size: 1.8vmax;
	word-wrap: break-word;
}

.collapsible-header, span.badge{
	font-size: 1.3vmax !important;
}

.collapsible-body{
	font-size: 1.15vmax;
}

.help-block li{
	font-weight: bold;
	color: #b30909;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 20px;
    display:none;
}

#mainMenu {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    height: 20px;
}

.navbar-collapse{
    background-color: black;
}

#websiteName, #websiteName:hover{
    color: #337ab7;
    text-decoration: none;
    padding-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f5f5f5;
    font-weight: bold;
}

/* ************************* */
.demo a {
  position: absolute;
  bottom: 7%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  /* color: red;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter -spacing: .1em;*/
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #006fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 #006fff;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bookCard{
  background: #FBB79E !important; /* fallback for old browsers */
  height: 150px;
}

.charCard{
  background: #EFAA52 !important;  /* fallback for old browsers */
  height: 150px;
}

.houseCard{
  background: #6CBF84 !important;  /* fallback for old browsers */
  height: 150px;
}

.bookDetail > p, .charDetail > p, .houseDetail > p{
  font-size: 1.6vmax;
}

button p, li{
  font-size: 1vmax;
}

.form-control{
  color: black;
}