<div id="divCharList" class="container-fluid">
  <br/>
  <fieldset style="background: url('img/charlistFlt.jpg');">
    <legend visible="true" style="width:auto; margin-bottom: 0px; font-size: 16px; font-weight: bold;">Filter</legend>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="ddlNoOfCharPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             
              <span class="caret"></span>
            </button>
            <ul id="ddlCharPageList" class="dropdown-menu center" aria-labelledby="ddlNoOfCharPages">
              <li><a>No Of Records</a></li>
              <li><a>10</a></li>
              <li><a>20</a></li>
              <li><a>30</a></li>
              <li><a>40</a></li>
              <li><a>50</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <a style="text-decoration: none;cursor: pointer;" data-toggle="tooltip" title="Ascending"
          ng-click="charListCtrl.setOrder('asc')">
            <img class="img-responsive" src="img/asc.png" width="36px" height="36px" style="display: inline;">
          </a>
          <a style="text-decoration: none;cursor: pointer;" data-toggle="tooltip" title="Descending"
          ng-click="charListCtrl.setOrder('desc')">
            <img class="img-responsive" src="img/desc.png" width="36px" height="36px" style="display: inline;">
          </a>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="ddlFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Filter By
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu center" aria-labelledby="dropdownMenu1">
              <li><a ng-click="charListCtrl.showGender()">Gender</a></li>
              <li><a ng-click="charListCtrl.showCulture()">Culture</a></li>
            </ul>
          </div>
        </div>

        <div id="ddlGenderList" class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="ddlGenderFilter" data-toggle="dropdown">
              <!-- Filter By Gender -->
              <span class="caret"></span>
            </button>
            <ul id="ddlGender" class="dropdown-menu center">
              <li ng-repeat="gender in charListCtrl.genders">
                <a ng-click="charListCtrl.genderSelected(gender)">{{gender}}</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div id="ddlCultureList" class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="btnSelectedChar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu center" aria-labelledby="ddlCultureList">
                <li ng-repeat="culture in charListCtrl.cultureList">
                  <a ng-click="charListCtrl.cultureSelected(culture)">{{culture}}</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="input-field" style="margin-top: 0px;width: 100%;">
            <input type="text" id="txtCharName" class="center form-control" placeholder="Search for Character" 
            ng-change="charListCtrl.textChanged()" ng-model="search"
            style="border:1px solid #000; border-radius: 5px;">
        </div>
        </div>
      </div>
  </fieldset>

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="char in charListCtrl.characterDatalist | orderBy:charListCtrl.order | filter:charListCtrl.searchedText | filter:charListCtrl.genderSelection:true | filter:charListCtrl.cultureFilter">
      <div class="flip">
        <div class="front">
          <div class="card">
            <div class="card-image">
              <img src="img/char.jpg" class="img-responsive" style="opacity: 0.7">
              <span class="card-title" style="color:black;" ng-if="char.name">{{char.name}}</span>
              <span class="card-title" style="color:black;" ng-if="char.name == ''">Name Unavailable</span>
              <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" style="pointer-events: none;bottom: -20px;">
                <i ng-if="char.gender === 'Male'" class="fa fa-mars fa-2x" aria-hidden="true"></i>
                <i ng-if="char.gender === 'Female'" class="fa fa-venus fa-2x" aria-hidden="true"></i>
              </a>
            </div>
            <div class="card-action center">
              <a href="#/character" ng-click="charListCtrl.getCharDetail(char.url)" class="btn btn-info">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div paging class="center col-md-12 col-sm-12 col-xs-12"
    page=charListCtrl.pageNo
    page-size=charListCtrl.items_per_page 
    total=charListCtrl.total_count
    text-next-class="glyphicon glyphicon-chevron-right"
    text-prev-class="glyphicon glyphicon-chevron-left"
    text-first-class="glyphicon glyphicon-backward"
    text-last-class="glyphicon glyphicon-forward"
    text-title-page="Page {page}"
    text-title-first="First Page"
    text-title-last="Last Page"
    text-title-next="Next Page"
    text-title-prev="Prev Page"
    show-prev-next="true"
    show-first-last="true"
    paging-action=charListCtrl.getCharactersData(page,pageSize)>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<style>
.input-field input:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.btn{
  color:black;
  letter-spacing: 0px;
  font-size: 1vmax;
  font-weight: bold;
}
</style>